/* Basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  header {
      text-align: center;
  }

  nav ul {
      display: block;
      text-align: center;
  }

  nav ul li {
      display: block;
      margin: 10px 0;
  }
}
/* CSS for Apply button */
.applyBtn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.applyBtn:hover {
  background-color: #45a049; /* Darker green */
}

.applyBtn:active {
  background-color: #3e8e41;
}
